.spinnerDual {
    position: fixed;
    display: inline-block;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    z-index: 9999;
  }
  .spinnerDual:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(184, 4, 58);
    border-color: rgb(17, 5, 61) transparent rgb(17, 5, 61) transparent;
    animation: spinnerDual 1.2s linear infinite;
  }
  @keyframes spinnerDual {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  